.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

.logo, .user__login {
	font-size: 32px;
	color: white;
}

.auth, .user{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
